@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import "variables.scss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

html {
  font-size: 62.5%;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.circles {
  position: absolute;
  display: block;
  background-color: rgb(216, 255, 211);
  top: 0;
  left: -100px;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  &:nth-child(odd) {
    background-color: rgb(78, 166, 100);
  }
  &:nth-child(5n) {
    background-color: rgb(237, 255, 244);
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.753);
  }
}

@keyframes animate {
  0% {
    transform: translateY(calc(100vh + 350px));
  }
  100% {
    transform: translateY(-300px);
  }
}
